---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import type { MarkdownInstance } from "astro";
import Link from "../components/Link.astro";

export async function getStaticPaths() {
  const posts = await Astro.glob("../posts/*.md");
  return posts.map((post) => ({
    params: {
      slug: post.frontmatter.slug,
    },
    props: {
      post,
    },
  }));
}

const { Content, frontmatter } = Astro.props.post as MarkdownInstance<
  Record<string, any>
>;
---

<Layout title={frontmatter.title}>
  <section class="page-content">
    <div class="container">
      <Card>
        <Link to="/blog">Go Back</Link>
        <h2>{frontmatter.title}</h2>
        <Content />
      </Card>
    </div>
  </section>
</Layout>
