---
import Card from "../components/Card.astro";
import Link from "../components/Link.astro";
import Showcase from "../components/Showcase.astro";
import Layout from "../layouts/Layout.astro";

const posts = await Astro.glob("../posts/*.md");
---

<Layout title="Astro Crash Course | Astro Blog">
  <Showcase heading="Astro Blog" text="A simple blog built with Astro" />
  <section class="page-content">
    <div class="container">
      {
        posts.map((post) => (
          <Card>
            <h3>{post.frontmatter.title}</h3>
            <p>{post.frontmatter.excerpt}</p>
            <Link to={`/${post.frontmatter.slug}`} class="btn">
              Read More
            </Link>
          </Card>
        ))
      }
    </div>
  </section>
</Layout>
