---
const base = import.meta.env.BASE_URL;

type Props = astroHTML.JSX.HTMLAttributes & {
  to: string;
};

const { to, ...attrs } = Astro.props as Props;
---

<a href={`${base}${to.substring(1)}`} {...attrs}>
  <slot />
</a>
