---
import i18next from "i18next";

const base = import.meta.env.BASE_URL;
const { language } = i18next;

type Props = astroHTML.JSX.HTMLAttributes & {
  to: string;
};

const { to, ...attrs } = Astro.props as Props;
---

<a href={`${base}${language}${to}`} {...attrs}>
  <slot />
</a>
